*{
    margin: 0;
    padding: 0;  
}

body{
    font-family: 'arial';
    font-size: 20px;
    line-height: 1.6;
    background-color: rgb(255, 255, 255)
}

#showcase{
    background-image:url('../img/Header1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showcase h1{
    font-family: 'Patua One', cursive;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.2;
    color: #ffffff;
}

#showcase h3{
    padding-bottom: 10px; 
    font-family: 'Assistant', sans-serif;
}

#showcase p{
    padding-top: 3%;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Patua One', cursive;
}

#showcase .button{
    font-family: 'Patua One', cursive;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    border: #ffffff 1px solid;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 15%;
}

#scherm{
    margin-top: 100px;
    margin-left: 20%; 
}

#tekst{
    margin-top: -280px;
    margin-left: 50vw;
}

#randomid{
    background-color: #009640;
    color: white;
    padding-bottom: 200px;
      
}

#section-a {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Patua One', cursive;
    display: flex;
    color: #009640;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
    padding-top: 4%;
    text-align: left;
}

#section-a p{
    padding-left: 3%;
    padding-top: 10%;
}

#section-a1 {
    padding-left: 25%;
    padding-right: 25%;
    font-family: 'Patua One', cursive;
    display: flex;
    background-color: #009640;
    color: #fff;
    padding-bottom: 4%;
    padding-top: 4%;
    text-align: right;
}

#section-a1 p{
    padding-right: 3%;
    padding-top: 10%;
}

#section-a1 .scheiden{
    width: 70%;
    height: 70%;
}



#section-b{
    color: #009640;
    padding-bottom: 2%;
    text-align: center;
}

#section-c {
    font-family: 'Patua One', cursive;
    display: grid;  
    width: 100%;
    margin-right: 3em;
    text-align: center;     
}

#section-c h5{
    padding-left: 35%; 
}

#section-c p{
    padding-left: 20%; 
}

#section-d  {
    font-family: 'Patua One', cursive;
    color: #009640;
    padding: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 4vw;
    padding-top: 4vw;
    text-align: center;
}

#section-d p{
    font-size: 20px;
    color: #009640;
}

#section-d h2{
    color: #009640;
}

#section-d h5{
    padding-left: 150px;
}

#section-d{
    display: flex;
}

.box {
    width: 25%;
   display: flex;
   flex-direction: column;
}

.card-image img {
    padding-top: 10px;
    width: 20em;
    height: 20em;
    border-radius: 40px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 }

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align-items: baseline;
    border-radius: 50px; /* 5px rounded corners */
    padding-left: 20px;
    padding-right: 20px;
}

.card p{
    padding-left: 50px;
}



.footer {
    position: relative;
    text-align: left;
    background-color: #009640;
    color: #fff;
 }

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main;}
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  padding: 0px;
}

.grid-container > div {
  background-color:#009640;
}

.item3{
    padding-top: 15px;
    font-size: 30px;
    text-align: center;
}

.item5{
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
}

 @media only screen and (max-width: 600px) {
    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;
        
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-body p{
        display: flex;
        flex-direction: column;
        /* background: red; */
        justify-content: flex-start;
    }
 } 

